input.parsley-success,
select.parsley-success,
textarea.parsley-success {
/*  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;*/
  border-color: #f7f7f8!important;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  /*color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;*/
  border-color: #EED3D7!important;
}

.parsley-errors-list {
  margin: 5px 0 0;
  padding: 0;
  list-style-type: none;
  font-size: 13px;
  opacity: 0;
  color: #B94A48;
  text-align: left;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}





