/* Font faces */
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoeui.eot');
    src: local("Segoe UI"),
    local("Segoe"),
    local("Segoe WP"),
    url('../fonts/segoeui.eot?#iefix') format('embedded-opentype'),
    url('../fonts/segoeui.woff') format('woff'),
    url('../fonts/segoeui.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Semibold';
    src: url('../fonts/seguisb.eot');
    src: local("Segoe Semibold"),
    local("Segoe WP Semibold"),
    url('../fonts/seguisb.eot?#iefix') format('embedded-opentype'),
    url('../fonts/seguisb.woff') format('woff'),
    url('../fonts/seguisb.svg#SegoeUISemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url('../fonts/segoeuib.eot');
    src: local("Segoe Bold"),
    local("Segoe WP Bold"),
    url('../fonts/segoeuib.eot?#iefix') format('eot'), /* Wrong format will tell IE9+ to ignore and use WOFF instead. MSHAR-2822 */
    url('../fonts/segoeuib.woff') format('woff'),
    url('../fonts/segoeuib.svg#SegoeUIBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Light';
    src: url('../fonts/segoeuil.eot');
    src: local("Segoe UI Light"),
    local("Segoe WP Light"),
    url('../fonts/segoeuil.eot?#iefix') format('embedded-opentype'),
    url('../fonts/segoeuil.woff') format('woff'),
    url('../fonts/segoeuil.svg#SegoeUILight') format('svg');
    font-weight: normal;
    font-style: normal;
}