/* GENERALES */
.clear {clear: both}
.iz { float: left}
.de { float: right}
.container-fluid {padding: 0}
#preload {display: none}


/* CALCULADORA TRABAJADORES */
.calcu-trabajadores {width: 100%; max-width: 970px; margin: 0 auto; text-align: center; font-family: 'Segoe UI', sans-serif; color: #383838;}
.calcu-trabajadores .titulo span {width: 34px; height: 37px; display: block; background: url('../img/titulo-trabajador.png') no-repeat center center; margin: 0 auto}
.calcu-trabajadores .titulo p {font-size: 20px; color: #00a3ee; margin: 7px 0 0; font-family: "Segoe UI Bold", sans-serif}
.calcu-trabajadores .pregunta {font-size: 28px; color: #383838; margin: 30px auto}
.calcu-trabajadores .formulario .item { margin-top: 20px }
.calcu-trabajadores .formulario .item input { background: #f7f7f8; border: 1px solid #f7f7f8; padding: 35px; color: #383838; font-size: 15px; outline: none; width: 100%;}
.calcu-trabajadores .formulario .item input.usuario {background: #f7f7f8 url('../img/usuario.png') no-repeat 95% center}
.calcu-trabajadores .formulario .item input.tiempo {background: #f7f7f8 url('../img/tiempo.png') no-repeat 95% center}
.calcu-trabajadores .formulario .item input.moneda {background: #f7f7f8 url('../img/moneda.png') no-repeat 95% center}
.calcu-trabajadores .acciones { width: 100%; margin: 0 auto 70px}
.calcu-trabajadores .acciones button { width: 90px; height: 90px; display: inline-block; font-size: 32px; cursor: pointer; margin: 0 2px; outline: none;}
.calcu-trabajadores .acciones .btn-b { border: 1px solid #898686; background: #fff url('../img/arrow-backward-grey.png') no-repeat center center;}
.calcu-trabajadores .acciones .btn-f { border: 1px solid #00a3ee; background: #fff url('../img/arrow-foward-blue.png') no-repeat center center;  }
.calcu-trabajadores .acciones .btn-b:hover { border: 1px solid #898686; background: #898686 url('../img/arrow-backward-white.png') no-repeat center center;}
.calcu-trabajadores .acciones .btn-f:hover { border: 1px solid #00a3ee; background: #00a3ee url('../img/arrow-foward-white.png') no-repeat center center;}


.avance-cont-trabajador { width: 100%; margin: 0 auto;}
.avance-cont-trabajador .avance { font-size: 13px; color: #383838; text-align: right; width: 100%; margin: 0 0 5px 0; padding-right: 10px;}
.avance-cont-trabajador .barra-fondo { width: 100%; height: 3px; background: #ccedfc}
.avance-cont-trabajador .barra-completado-1 { width: 25%; height: 3px; background: #00a3ee}
.avance-cont-trabajador .barra-completado-2 { width: 50%; height: 3px; background: #00a3ee}
.avance-cont-trabajador .barra-completado-3 { width: 75%; height: 3px; background: #00a3ee}
.avance-cont-trabajador .barra-completado-4 { width: 100%; height: 3px; background: #00a3ee}


.calcu-trabajadores .form-section {display: none;margin-bottom: 70px;  }
.calcu-trabajadores .form-section.current {display: inherit;  }
.calcu-trabajadores .loading {width: 100%;height: 490px;display: none;  }
.calcu-trabajadores .loading img {width: 128px;height: 15px;margin: 200px auto 0;  }


.calcu-trabajadores .formulario .item input::-webkit-input-placeholder { /* Chrome/Opera/Safari */color: #383838;  }
.calcu-trabajadores .formulario .item input::-moz-placeholder { /* Firefox 19+ */color: #383838;  }
.calcu-trabajadores .formulario .item input:-ms-input-placeholder { /* IE 10+ */color: #383838;  }
.calcu-trabajadores .formulario .item input:-moz-placeholder { /* Firefox 18- */color: #383838;  }


.calcu-trabajadores .graficos-cont {margin: 0 auto; max-width: 700px}
.calcu-trabajadores .graficos-cont .grafico-row {}
.calcu-trabajadores .graficos-cont .separated-border {border-right: 1px solid #e1e1e1}
.calcu-trabajadores .graficos-cont .titulo { font-family: "Segoe UI", sans-serif; font-size: 15px; margin: 0 auto 45px}
.calcu-trabajadores .graficos-cont .grafico-sueldo {}


.calcu-trabajadores .resultados-cont .info { font-family: "Segoe UI Light", sans-serif; font-size: 28px; color: #383838; margin: 30px 0 50px}
.calcu-trabajadores .resultados-cont .info span { font-family: "Segoe UI Semibold", sans-serif; display: block}
.calcu-trabajadores .resultados-cont .volver-calcular {cursor: pointer; border: 1px solid #00a3ee; width: 180px; padding: 13px 0; margin: 60px auto 10px; text-align: left; position: relative }
.calcu-trabajadores .resultados-cont .volver-calcular p {font-family: "Segoe UI", sans-serif; font-size: 13px; margin: 0 0 0 30px}
.calcu-trabajadores .resultados-cont .volver-calcular span {width: 17px; height: 12px; display: block;background: url('../img/flecha-volver-calcular.png') no-repeat center center;position: absolute;top: 17px;right: 23px;  }
.calcu-trabajadores .resultados-cont .volver-calcular:hover { background-color: #00a3ee}
.calcu-trabajadores .resultados-cont .volver-calcular:hover p { color: #fff}
.calcu-trabajadores .resultados-cont .volver-calcular:hover span { background: url('../img/flecha-volver-calcular-hover.png') no-repeat center center;}

/*#####################################################################################*/
/*#####################################################################################*/
/*#####################################################################################*/
/*#####################################################################################*/
/*#####################################################################################*/
/*#####################################################################################*/
/*#####################################################################################*/


/* CALCULADORA EMPRESA */
.calcu-empresa {width: 100%; max-width: 970px; margin: 0 auto; text-align: center; font-family: 'Segoe UI', sans-serif; color: #383838;}
.calcu-empresa .titulo span {width: 38px; height: 36px; display: block; background: url('../img/titulo-empresa.png') no-repeat center center; margin: 0 auto}
.calcu-empresa .titulo p {font-size: 20px; color: #ED3E1F; margin: 7px 0 0; font-family: "Segoe UI Bold", sans-serif}
.calcu-empresa .pregunta {font-size: 28px; color: #383838; margin: 30px auto}
.calcu-empresa .formulario .item { margin-top: 20px }
.calcu-empresa .formulario .item input { background: #f7f7f8; border: 1px solid #f7f7f8; padding: 35px; color: #383838; font-size: 15px; outline: none; width: 100%;}
.calcu-empresa .formulario .item input.trabajadores {background: #f7f7f8 url('../img/grupo.png') no-repeat 95% center}
.calcu-empresa .formulario .item input.teletrabajadores {background: #f7f7f8 url('../img/wifi.png') no-repeat 95% center}
.calcu-empresa .formulario .item input.dias {background: #f7f7f8 url('../img/agenda.png') no-repeat 95% center}
.calcu-empresa .formulario .item input.mobiliario {background: #f7f7f8 url('../img/moneda.png') no-repeat 95% center}
.calcu-empresa .formulario .item input.arrendamiento {background: #f7f7f8 url('../img/moneda.png') no-repeat 95% center}
.calcu-empresa .acciones { width: 100%; margin: 0 auto 70px}
.calcu-empresa .acciones button { width: 90px; height: 90px; display: inline-block; font-size: 32px; cursor: pointer; margin: 0 2px; outline: none;}
.calcu-empresa .acciones .btn-b { border: 1px solid #898686; background: #fff url('../img/arrow-backward-grey.png') no-repeat center center;}
.calcu-empresa .acciones .btn-f { border: 1px solid #ED3E1F; background: #fff url('../img/arrow-foward-red.png') no-repeat center center;  }
.calcu-empresa .acciones .btn-b:hover { border: 1px solid #898686; background: #898686 url('../img/arrow-backward-white.png') no-repeat center center;}
.calcu-empresa .acciones .btn-f:hover { border: 1px solid #ED3E1F; background: #ED3E1F url('../img/arrow-foward-white.png') no-repeat center center;}


.avance-cont-empresa { width: 100%; margin: 0 auto;}
.avance-cont-empresa .avance { font-size: 13px; color: #383838; text-align: right; width: 100%; margin: 0 0 5px 0; padding-right: 10px;}
.avance-cont-empresa .barra-fondo { width: 100%; height: 3px; background: #F7DBD0}
.avance-cont-empresa .barra-completado-1 { width: 25%; height: 3px; background: #ED3E1F}
.avance-cont-empresa .barra-completado-2 { width: 50%; height: 3px; background: #ED3E1F}
.avance-cont-empresa .barra-completado-3 { width: 75%; height: 3px; background: #ED3E1F}
.avance-cont-empresa .barra-completado-4 { width: 100%; height: 3px; background: #ED3E1F}


.calcu-empresa .form-section {display: none;margin-bottom: 70px;  }
.calcu-empresa .form-section.current {display: inherit;  }
.calcu-empresa .loading {width: 100%;height: 490px;display: none;  }
.calcu-empresa .loading img {width: 128px;height: 15px;margin: 200px auto 0;  }


.calcu-empresa .formulario .item input::-webkit-input-placeholder { /* Chrome/Opera/Safari */color: #383838;  }
.calcu-empresa .formulario .item input::-moz-placeholder { /* Firefox 19+ */color: #383838;  }
.calcu-empresa .formulario .item input:-ms-input-placeholder { /* IE 10+ */color: #383838;  }
.calcu-empresa .formulario .item input:-moz-placeholder { /* Firefox 18- */color: #383838;  }


.calcu-empresa .graficos-cont {margin: 0 auto; max-width: 700px}
.calcu-empresa .graficos-cont .grafico-empresa { width:100%; height:224px; background: #fff url('../img/fondo-resultados-empresa.png') no-repeat center center; margin: 0 auto; text-align: center}
.calcu-empresa .graficos-cont .grafico-empresa .titulo {padding-top: 80px; font-family: "Segoe UI Bold", sans-serif; font-size: 55px; margin: 0 auto 5px; line-height: 55px; color: #ED3E1F}
.calcu-empresa .graficos-cont .grafico-empresa span {font-family: 'Segoe UI', sans-serif; font-size: 15px;}


.calcu-empresa .resultados-cont .info { font-family: "Segoe UI Light", sans-serif; font-size: 28px; color: #383838; margin: 30px 0 20px}
.calcu-empresa .resultados-cont .info span { font-family: "Segoe UI Semibold", sans-serif; display: block}
.calcu-empresa .resultados-cont .volver-calcular {cursor: pointer; border: 1px solid #ED3E1F; width: 180px; padding: 13px 0; margin: 60px auto 10px; text-align: left; position: relative }
.calcu-empresa .resultados-cont .volver-calcular p {font-family: "Segoe UI", sans-serif; font-size: 13px; margin: 0 0 0 30px; color: #ED3E1F}
.calcu-empresa .resultados-cont .volver-calcular span {width: 17px; height: 12px; display: block;background: url('../img/flecha-volver-calcular-red.png') no-repeat center center;position: absolute;top: 17px;right: 23px;  }
.calcu-empresa .resultados-cont .volver-calcular:hover { background-color: #ED3E1F}
.calcu-empresa .resultados-cont .volver-calcular:hover p { color: #fff}
.calcu-empresa .resultados-cont .volver-calcular:hover span { background: url('../img/flecha-volver-calcular-hover.png') no-repeat center center;}



/* HEADER */
header { background: url('../img/trama-header.png') repeat; width: 100%;}
header .bann { background: url('../img/header-back.png') no-repeat center center; width: 100%; height: 400px; margin-bottom: 20px}
header .bann p { font-family: "Segoe UI Bold", sans-serif; font-size: 35px; margin: 0 auto; line-height: 45px; color:#fff; text-align: center; padding: 160px 20px 0}
header .bann p strong { display: block; color:#FFF100 }


/* FOOTER */
footer .grupo-links { min-height: 140px; width: 200px; margin: 0 auto;}
footer .grupo-links .titulo {font-family: "Segoe UI", sans-serif; font-size: 15px; margin-bottom: 15px}
footer .grupo-links .titulo.rojo {color: #EB3D1F}
footer .grupo-links .titulo.azul {color: #0775D9;}
footer .grupo-links ul {padding-left: 17px}
footer .grupo-links ul li {}
footer .grupo-links ul li a {font-family: "Segoe UI", sans-serif; font-size: 12px; color: #373737}
footer .border-left {border-left: 1px solid #EEEEEE}
footer .border-right {border-right: 1px solid #EEEEEE}
footer .footer-col { padding-top: 40px}
footer .liston {background: url('../img/trama-footer.png') repeat; width: 100%; height: 43px}





/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    /*.container-fluid {padding: 0 15px}*/
    .calcu-trabajadores .resultados-cont .info,
    .calcu-trabajadores .pregunta { line-height: 32px}
    .calcu-trabajadores .pregunta span { display: block}
    .calcu-trabajadores .graficos-cont .titulo {margin-bottom: 20px}
    .calcu-trabajadores .graficos-cont .separated-border {border-right: none}

    .calcu-empresa .resultados-cont .info,
    .calcu-empresa .pregunta { line-height: 32px}
    .calcu-empresa .pregunta span { display: block}

    header .bann { height: 260px}
    header .bann p { font-size: 22px; line-height: 30px; padding-top: 85px}
    header .bann p span {display: block}
    footer .grupo-links { min-height: auto;}
    footer .footer-col { padding-top: 0px}
    footer .grupo-links .titulo {margin-top: 20px}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    footer .grupo-links { min-height: auto;}
    footer .footer-col { padding-top: 0px}
    footer .grupo-links .titulo {margin-top: 20px}
}