/*QUE ES*/
/*header*/
#header_quees{
	background-image: url(../images/quees/header_quees.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #ffb800;
	min-height: 310px;
}
#header_quees .texto{
	color: #FFF;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
}
.in_texto_header{
	margin-top: 100px;
	color: #FFF;
	text-align: center;
}
/*fin header*/
/*definicion*/
.definicion{
	background-color: #ffb800;
	text-align: center;
	padding: 20px 0px;
}
.definicion div div{
	padding: 0px 100px 20px 100px;
}
.definicion h3{
	padding-bottom: 5px;
	color: #FFF;
	font-weight: bold;
	padding-bottom: 15px;
}
.definicion h4{
	color: #383838;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
}
.caja_def{
	border-left: #505050;
	text-align: center;
}
.caja_def2{
	border-left: #505050;
	border-right: #505050;
	text-align: center;
}
.def_2{
	background-color: #fbfbfb;
}
.caja_def img, .caja_def2 img{
	text-align: center;
}
.caja_def h3, .caja_def2 h3{
	font-size: 24px;
	color: #505050;
	font-weight: bold;
}
.caja_def p, .caja_def2 p{
	color: #ee0000;
}
/*fin definicion*/
/*antes y ahora*/
.antes{
	background-color: #383838;
}
.ahora{
	background-color: #7eb900;
}
.antes p, .ahora p{
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	margin-top: 10px;
}
.lineas_ahora{
	background-color: #FFF;
	border-bottom: 1px solid #c9c9c9;
	border-right: 1px solid #FFF;
}
.lineas_ahora div{
	margin-top: 20px;
	margin-bottom: 20px;
}
.flecha_gris_osc, .lineas_ahora div img{
	display: none;
}

/*fin antes y ahora*/
/*escenarios posibles*/
#escenarios_posibles h3{
	text-align: center;
	font-weight: bold;
	padding-bottom: 15px;
}
.caja_esce{
    padding-right: 70px;
}
.caja_esce h4{
	color: #ee0000;
	text-align: center;
	font-weight: bold;
}
.caja_esce p{
	text-align: center;
	margin-bottom: 30px;
}
/*fin escenarios posibles*/
/*desafios*/
#desafios h3{
	text-align: center;
	font-weight: bold;
	padding-bottom: 15px;
}
.desafios{
 	background-image: url(../images/quees/img_desafios.png);
 	background-repeat: no-repeat;
 	background-size: cover;
}
.caja_desa{
	text-align: center;
	padding: 10px;
}
.fnd_trans{
	background-color: rgba(255, 255, 255, 0.26);
}
.caja_desa h4{
	color: #ffb800;
	font-weight: bold;
}
.caja_desa p{
	color: #FFF;
}
.mr_ctrl{
	margin-top: 20px;
}
/*desafios*/
/*ventajas*/
#ventajas{
	background-color: #ffb800;
	padding-bottom: 20px;
}
#ventajas h3{
	text-align: center;
	font-weight: bold;
	padding-bottom: 15px;
}
.caja_venta img, .texto_ventaja{
	display: inline-block;
}
.caja_venta img{
	margin-top: 10px;
}
/*fin ventajas*/
/*slider_ventajas*/
#slider_ventajas{
 	background-image: url(../images/quees/ventajas_slider.png);
 	background-repeat: no-repeat;
 	background-size: cover;
}
#slider_ventajas h3{
	text-align: center;
	font-weight: bold;
	color: #FFF;
	padding-bottom: 15px;
}
.slide_mul_vent h4{
	color: #ffb800;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.slide_mul_vent ul li{
	color: #FFF;
	margin: 10px;
}
/*fin slider_ventajas*/
/*legalidad*/
#legalidad{
	margin-bottom: 20px;
}
#legalidad h3{
	text-align: center;
	font-weight: bold;
	padding-bottom: 15px;
}
/*fin legalidad*/
/*FIN QUE ES*/

/*SOLUCIONES*/
/*header*/
#header_solu{
	background-image: url(../images/soluciones/header.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 310px;
}
#header_solu .texto{
	color: #FFF;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
}
.in_texto_header{
	margin-top: 100px;
	color: #FFF;
	text-align: center;
}
/*fin header*/
/*identificacion*/
#identificacion h3{
	text-align: center;
	padding-bottom: 5px;
	color: #ec3e1f;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 15px;
}
.caja_iden, .caja_iden2{
	border: 1px solid #f2f2f2;
	padding-left: 0;
	margin-bottom: 30px;
}
.caja_iden p, .caja_iden2 p{
	color: #383838;
	font-weight: bold;
    width: 54%;
    position: absolute;
    top: 20%;
    left: 42%;
}
.caja_iden p span, .caja_iden2 p span{
	color: #ec3e1f;
}
/*fin identificacion*/
/*seguridad*/
#seguridad{
	background-image: url(../images/soluciones/seguridad.jpg);
 	background-repeat: no-repeat;
 	background-size: cover;
}
#seguridad h3{
	text-align: center;
	font-weight: bold;
	color: #FFF;
	padding-bottom: 15px;
}
.fnd_transaprente, .fnd_transaprente2{
	background-color: rgba(255, 255, 255, 0.63); 
	padding-left: 0;
	margin-bottom: 30px;
	padding-bottom: 30px;
}
.fnd_transaprente img, .fnd_transaprente2 img{
	margin-left: 3px;
    margin-top: 7px;
} 
.fnd_transaprente p, .fnd_transaprente2 p{
	color: #383838;
	font-weight: bold;
    width: 67%;
    position: absolute;
    top: 10%;
    left: 26%;
	margin-bottom: 10px;
}
.fnd_transaprente p span, .fnd_transaprente2 p span{
	color: #ec3e1f;
}
/*fin seguridad*/
/*infraestructura*/
#infraestructura{
	background-image: url(../images/soluciones/infraestructura.jpg);
 	background-repeat: no-repeat;
 	background-size: cover;
}
#infraestructura h3{
	text-align: center;
	font-weight: bold;
	padding-bottom: 15px;
}
.caja_infra{
	text-align: center;
}
.caja_infra ul{
	text-align: center;
 	margin-bottom: 20px;
}
.caja_infra ul li{
	text-align: left;
}
/*fin infraestructura*/
/*dispositivos*/
#dispositivos{
	background-image: url(../images/soluciones/dispositivos.jpg);
 	background-repeat: no-repeat;
 	background-size: cover;
	color: #FFF;
}
#dispositivos h3{
	text-align: center;
	font-weight: bold;
	padding-bottom: 15px;
}
/*fin dispositivos*/
/*aplicaciones*/
#aplicaciones{
	background-color: #f3f2f2;
}
#aplicaciones h3{
	text-align: center;
	color: #ec3e1f;
	font-weight: bold;
	padding-bottom: 15px;
}
.caja_aplica{
	background-color: #FFF;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 30px;
}
/*fin aplicaciones*/
/*FIN SOLUCIONES*/
/*RECURSOS*/
/*header*/
#header_rec{
	background-image: url(../images/recursos/header.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 310px;
}
#header_rec .texto{
	color: #FFF;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
}
/*fin header*/
/*8 tips*/
#tips{
	padding-bottom: 15px;
}
#tips h3{
	text-align: center;
	font-weight: bold;
	padding-bottom: 15px;
}
#tips div div div img{
	margin: 0 auto;
}
/*fin 8 tips*/
/*dispositivos*/
#dispo_slider{
	background-image: url(../images/recursos/dispo_slider.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 310px;
	padding-bottom: 15px;
}
#dispo_slider h3{
	text-align: center;
	font-weight: bold;
	color: #FFF;
	padding-bottom: 15px;
}
.img_izq{
	background-color: #00a3ee;
}
.img_izq img{
	margin-left: 20%;
}
.txt_izq{
	background-color: #FFF;
	min-height: 430px;
}
.txt_izq h4{
	color: #00a3ee;
	text-align: center;
	font-weight: bold;
}
/*fin dispositivos*/
/*organizacion*/
#organizacion{
	background-color: #00a3ee;
	text-align: center;
}
#organizacion h3{
	font-weight: bold;
	color: #FFF;
	padding-bottom: 15px;
}
.caja_org{
    padding-right: 70px;
}
.caja_org p:last-child{
	color: #FFF;
}
/*fin organizacion*/
/*ocho_consejos*/
#ocho_consejos{
	background-image: url(../images/recursos/consejos_trabaja.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 310px;
	padding-bottom: 15px;
}
#ocho_consejos h3{
	font-weight: bold;
	color: #FFF;
	text-align: center;
	padding-bottom: 15px;
}
.mar_cons{
	padding: 40px;
}
.fnd_azul, .fnd_negro{
	min-height: 150px;
	padding: 40px;
	color: #FFF;
	text-align: center;
	margin-bottom: 25px;
}
.fnd_azul{
	background-color: rgba(20, 106, 187, 0.63);
}
.fnd_negro{
	background-color: rgba(0, 0, 0, 0.63);
}

/*fin ocho_consejos*/
/*FIN RECURSOS*/
/*PROCESOS*/
/*header*/
#header_procesos{
	background-image: url(../images/recursos/header.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 310px;
}
#header_procesos .texto{
	color: #FFF;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
}
/*fin header*/
/*implementar*/
#implementar{
	text-align: center;
	padding-bottom: 15px;
}
#implementar h3{
	font-weight: bold;
	padding-bottom: 15px;
}
.caja_imp h4{
	color: #ec3e1f;	
	font-size: 20px;
	font-weight: bold;
}
.caja_imp img{
	margin: 0 auto;
}
.caja_imp p{
	padding: 10px 20px 0px 20px;
}
/*fin implementar*/
/*implementar en organizaciones*/
.imple_org_naranja{
	background-color: #ec3e1f;
	padding-bottom: 20px;
	position: relative;
}
.imple_contenido h3{
	font-weight: bold;
	color: #FFF;
	text-align: center;
	padding-bottom: 15px;
}
.imple_org_rojo{
	background-color: #d02f12;
	min-height: 540px;
}
.imple_org_rojo ul li{
	color: #FFF;
	list-style: none;
	padding: 10px 0;
}
.imple_org_rojo ul img, .imple_org_rojo ul p{
	display: inline-block;
}
.img_mas, .img_mas2{
	display: none;
}
/*implementar en organizaciones*/
/*FIN PROCESOS*/

/*QUERYS*/

@media (min-width: 375px) { 
	/*escenarios posibles*/
	.caja_esce img{
	    margin-left: 0;
	}
	/*fin escenarios posibles*/
	/*identificacion*/
	.caja_iden p, .caja_iden2 p{
	    width: 60%;
	    top: 28%;
	    left: 36%;
	}
	/*fin identificacion*/
	/*seguridad*/
	.fnd_transaprente img, .fnd_transaprente2 img{
		margin-left: 15px;
	} 
	/*fin seguridad*/
	/*fin dispositivos*/
	.img_izq img{
		margin-left: 23%;
	}
	.txt_izq{
		background-color: #FFF;
		min-height: 390px;
	}
	/*fin dispositivos*/
	/*ocho_consejos*/
	.fnd_azul, .fnd_negro{
		min-height: 120px;
	}
	/*fin ocho_consejos*/
}
@media (min-width: 425px) {
	/*escenarios posibles*/
	.caja_esce img{
	    margin-left: 25px;
	}
	/*fin escenarios posibles*/
	/*seguridad*/
	.fnd_transaprente{
		min-height: 110px;
	}
	/*fin seguridad*/
	/*fin dispositivos*/
	.img_izq img{
		margin-left: 28%;
	}
	/*fin dispositivos*/

}

@media(min-width:768px) {
	/*antes y ahora*/
	.antes p{
		text-align: right;
		margin-right: 100px;
	}
	.ahora p{
		text-align: left;
		margin-left: 100px;
	}
	.lineas_ahora{
		min-height: 81px;
	}
	.flecha_gris_osc{
		display: block;
	    position: absolute;
	    left: 100%;
	    z-index: 1;
	    top: 0%;
	}
	/*fin antes y ahora*/
	/*escenarios posibles*/
	.caja_esce img{
	    margin-left: 0px;
	}
	/*fin escenarios posibles*/
	/*desafios*/
	.caja_desa{
		min-height: 185px;
		padding-top: 25px;
	}
	.mr_ctrl{
		margin-top: 10px;
	}
	/*fin desafios*/
	/*ventajas*/
	.texto_ventaja{
		padding-left: 40px;
	}
	#slider_vent{
    	min-height: 368px;
	}
	/*vfin entajas*/
	/*identificacion*/
	.caja_iden{
	    margin-right: 3%;
	    width: 47%;
	}
	.caja_iden2{
	    margin-left: 3%;
	    width: 47%;
	}
	/*fin identificacion*/
	/*seguridad*/
	.fnd_transaprente{
	    margin-right: 3%;
	    width: 47%;
	}
	.fnd_transaprente2{
	    margin-left: 3%;
	    width: 47%;
	}
	/*fin seguridad*/
	/*aplicaciones*/
	.caja_aplica{
	    margin-left: 3%;
	    width: 30%;
    	min-height: 160px;
	}
	/*fin aplicaciones*/
	/*dispositivos*/
	.img_izq img{
		margin-left: -10%;
	}
	.img_izq{
		background-color: #FFF;
	}
	.txt_izq{
		min-height: 181px;
	}
	.txt_izq h4{
		text-align: left;
	}
	.alto_sli{
		height: 180px;
	}
	/*fin dispositivos*/
	/*ocho_consejos*/
	.fnd_azul, .fnd_negro {
	    width: 46%;
	    margin-right: 2%;
	    margin-left: 2%;
		min-height: 140px;
	}
	.mar_cons{
		padding: 0px;
	}
	/*fin ocho_consejos*/
	/*implementar en organizaciones*/
	.imple_org_rojo, .imple_org_naranja{
		min-height: 442px;
	}
	.imple_org_rojo ul li{
		padding: 5px 0;
	}
	.img_mas, .img_mas2{
		display: block;
		z-index: 4;
		position: absolute;
    	top: 97%;
	}
	.img_mas{
    	left: 30%;
    	width: 7%;
	}
	.img_mas2{
    	left: 63%;
    	width: 7%;
	}
	/*fin implementar en organizaciones*/

}

@media (min-width: 1024px) {
	/*antes y ahora*/
	.lineas_ahora div{
    	padding-right: 70px;
    	padding-left: 18px;
	}
	.lineas_ahora{
		min-height: 101px;
	}
	.lineas_ahora div img{
		display: block;
	    position: absolute;
	    top: -15px;
	    left: 77%;
	    z-index: 1;
	}
	/*fin antes y ahora*/
	/*ventajas*/
	.texto_ventaja{
		padding-left: 30px;
	}
	/*fin entajas*/
	/*slider ventajas*/
	.sli_operaciones{
		margin-right: 50px;
	}
	/*fin slider ventajas*/
	/*identificacion*/
	.caja_iden p, .caja_iden2 p {
	    width: 68%;
	    top: 34%;
	    left: 28%;
	}
	/*fin identificacion*/
	/*fin infraestructura*/
	.caja_infra h3{
		min-height: 50px;
	}
	/*fin infraestructura*/
	/*dispositivos*/
	.img_izq img{
		margin-left: -12%!important;
	}
	.txt_izq{
		padding-top: 20px;
	}
	/*fin dispositivos*/
	/*ocho_consejos*/
	.fnd_azul, .fnd_negro {
	    width: 21%;
		min-height: 160px;
		padding: 30px;
	}
	/*fin ocho_consejos*/
	/*implementar en organizaciones*/
	.img_mas{
    	left: 31%;
	}
	.img_mas2{
    	left: 62%;
	}
	/*fin implementar en organizaciones*/
}

@media (min-width: 1366px) {
	/*antes y ahora*/
	.antes p{
		margin-right: 200px;
	}
	.ahora p{
		margin-left: 200px;
	}
	.lineas_ahora{
		min-height: 81px;
	}
	.lineas_ahora div img{
	    left: 83%;
	}
	/*fin antes y ahora*/
	/*desafios*/
	.caja_desa{
		min-height: 185px;
		padding-top: 40px;
	}
	/*desafios*/
	/*ventajas*/
	.texto_ventaja{
		padding-left: 15px;
	}
	/*vfin entajas*/
	/*slider ventajas*/
	.sli_operaciones{
		margin-right: 120px;
	}
	#slider_vent{
    	min-height: 300px;
	}
	/*fin slider ventajas*/
	/*fin infraestructura*/
	.caja_infra h3{
		min-height: auto;
	}
	/*fin infraestructura*/
	/*ocho_consejos*/
	.fnd_azul, .fnd_negro {
		padding: 40px;
	}
	/*fin ocho_consejos*/
	/*implementar en organizaciones*/
	.imple_org_naranja, .imple_org_rojo{
		min-height: 588px;
	}
	.imple_org_rojo ul{
		margin-top: 75px;
	}
	/*fin implementar en organizaciones*/
	.img_mas, .img_mas2{
    	top: 73%;
	}
	.img_mas{
    	left: 32.5%;
	}
	.img_mas2{
    	left: 60.6%;
	}
	/*fin implementar en organizaciones*/
}
@media (min-width: 1440px) {
	/*implementar en organizaciones*/
	.imple_org_naranja, .imple_org_rojo{
		min-height: 610px;
	}
	.imple_org_rojo ul{
		margin-top: 100px;
	}
	.img_mas, .img_mas2{
    	top: 47%;
	}
	.img_mas{
    	left: 36.8%;
	}
	.img_mas2{
    	left: 56%;
	}
	/*fin implementar en organizaciones*/
}



