/*GENERICO*/
body {
    font-family: wf_segoe-ui_normal;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    color: #383838;
}
html {
    width: 100%;
    height: 100%;
}
.container-fluid{
  margin-left: -15px;
  margin-right: -15px;
}
a:hover{
  text-decoration: none;
}
/*slider*/
.carousel-control.right, .carousel-control.left{
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
}
/*fin slider*/
/*FIN GENERICO*/
/*MENU - BOTON*/
.bot_logo ul{
  -webkit-padding-start: 10px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}
.bot_logo ul li{
  display: inline-block;
}
.bot_logo ul li:first-child{
  position: relative;
  top: -21px;
}
.bot_logo ul li span{
  padding: 10px;
  font-size: 30px;
  background-color: #FFF;
}
.bot_logo ul li:last-child{
  position: relative;
  top: 15px;
}
.menu, .logo_blanco, .logo_gris_des{
  display: none;
}
.logo_blanco, .logo_gris_des{
  margin-bottom: 10px;
}
.menu ul{
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}
.menu ul li{
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #d2d2d2;
}
.menu ul li:hover{
  cursor: pointer;
}
.menu ul li img{
  position: absolute;
  right: 15px;
}
.submenu a li{
  color: #959595;
  list-style: none;
  padding: 10px;
  border-bottom: 0;
}
/*FIN MENU - BOTON*/
/*HEADER - SLIDER*/
.item{
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 310px;
}
.banner1{
  background-image: url(../images/banner_mob_1.jpg);
}
.banner2{
  background-image: url(../images/banner_mob_2.jpg);
}
.banner3{
  background-image: url(../images/banner_mob_3.jpg);
}
.banner1 .texto, .banner2 .texto, .banner3 .texto{
  padding: 50px;
  color: #FFF;
  text-align: center;
}
.banner1 .texto h3, .banner2 .texto h3, .banner3 .texto h3{
  font-weight: bold;
  font-size: 22px;
}
.banner1 .texto p{
  border:1px solid #7eb900;
  padding: 10px;
  color: #FFF;
}
.banner2 .texto a{
  margin-top: 30px;
  color: #FFF;
}
.banner2 .texto a p span{
  border:1px solid #ec3e1f;
  padding: 10px;
}
.banner3 .texto p{
  border:1px solid #ec3e1f;
  padding: 10px;
  color: #FFF;
}
/*fin Modal*/
/*FIN HEADER - SLIDER*/
/*FILA CAJAS 1*/
#fila_cajas1{
  background-color: #FFF;
}
.top_caja{
  position: relative;
  top: 40px;
  left: 31%;
}
.formato_caja h4{
  font-size: 17px;
  font-weight: bold;
  min-height: 150px;
  border: 1px solid #959595;
  padding-top: 50px;
  text-align: center;
}
a .mas_info_naranja{
  background-image: url(../images/flechas/flecha_naranja.png);
  background-repeat: no-repeat;
  background-position: 80%;
  background-color: #FFF;
  color: #ec3e1f;
  border: 1px solid #ec3e1f;   
  width: 180px;
  position: relative;
  top: -37px;
  margin: 20px auto;
}
a:hover .mas_info_naranja{
  background-image: url(../images/flechas/flecha_blanca.png);
  background-repeat: no-repeat;
  background-position: 80%;
  background-color: #ec3e1f;
  color: #FFF;
}
.mas_info_naranja p{
  margin: 5px 10px 5px 20px;
}
/*FIN FILA CAJAS 1*/
/*SECCION AHORRAR - VERDE*/
#ahorrar{
  background-image: url(../images/seccion2_mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#ahorrar div h3{
  color: #FFF;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.caja_ahorro{
  text-align: center;
}
.caja_ahorro p{
  color: #FFF;
  font-weight: bold;
  position: relative;
  top: 65px;
}
a .caja_ahorro_link{
  border: 1px solid #fff100;   
  width: 180px;
  margin: 20px auto 50px auto;
  background-image: url(../images/flechas/flecha_amarilla.png);
  background-repeat: no-repeat;
  background-position: 80%;
}
a .caja_ahorro_link p{
  color: #FFF;
  position: relative;
  top: 0!important;
}
a:hover .caja_ahorro_link {
  background-color: #fff100;
  background-image: url(../images/flechas/flecha_verde.png);
  background-repeat: no-repeat;
  background-position: 80%;
}
a:hover .caja_ahorro_link p{
  color: #7eb900;
  text-decoration: none;
}
.caja_ahorro_link p{
  margin: 5px 20px 5px 0px;
}
.caja_ahorro_link img{
  display: inline-block;
}
/*FIN SECCION AHORRAR - VERDE*/
/*EMPRESAS*/
#empresas div h3{
  text-align: center;
  font-weight: bold;
  padding-bottom: 15px;
}
.formato_caja_empresa{
  border: 1px solid #f2f2f2;
  height: 195px;
  margin-bottom: 60px;
}
.formato_caja_empresa h4{
  font-size: 17px;
  font-weight: bold;
  font-weight: 20px;
  min-height: 110px;
  padding-top: 40px;
  text-align: center;
}
/*FIN EMPRESAS*/
/*TRABAJADORES*/
#trabajadores{
  background-color: #09a6ef;
}
#trabajadores div h3{
  color: #FFF;
  text-align: center;
  font-weight: bold;
  padding-bottom: 15px;
}
.formato_caja_trabajadores{
  border: 1px solid #26b1f1;
  height: 195px;
  margin-bottom: 60px;
}
.formato_caja_trabajadores h4{
  color: #FFF;
  font-size: 17px;
  font-weight: bold;
  min-height: 110px;
  padding-top: 40px;
  text-align: center;
}
a .mas_info_azul{
  background-color: #FFF;
  color: #09a6ef;
  border: 1px solid #09a6ef;   
  width: 180px;
  position: relative;
  top: -60px;
  margin: 20px auto;
  background-image: url(../images/flechas/flecha_celeste.png);
  background-repeat: no-repeat;
  background-position: 80%;
}
a:hover .mas_info_azul{
  background-color: #09a6ef;
  border: 1px solid #FFF; 
  color: #FFF;
  background-image: url(../images/flechas/flecha_blanca.png);
  background-repeat: no-repeat;
  background-position: 80%;
}
.mas_info_azul p{
  margin: 5px 10px 5px 20px;
}
/*FIN TRABAJADORES*/
/* AHORROS POTENCIALES*/
#ahorro_potencial{
  margin-bottom: 30px;
}
#ahorro_potencial div h3{
  color: #ec3e1f;
  text-align: center;
  font-weight: bold;
  padding-bottom: 15px;
}
#ahorro_potencial div h4{
  font-weight: bold;
  text-align: center;
}
.valores{
  margin: 20px 0;
  color: #ec3e1f;
  border: 1px solid #ec3e1f;
}
.valores h3{
  font-size: 29px;
  font-weight: bold;
  margin-top: -5px;
}
/*FIN AHORROS POTENCIALES*/
/*FRANJA AHORROS*/
#franja_ahorro_potencial{
  background-color: #f7f7f8;
}
.contenido_caja_roj, .contenido_caja_nar{
  background-color: #f7f7f8;
  padding-top: 10px;
}
.titulo_ahorro, .titulo_ahorro2{
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}
.titulo_ahorro{
  background-color: #ea5c0c;
}
.titulo_ahorro2{
  background-color: #ec3e1f;
}
.titulo_ahorro img, .titulo_ahorro2 img{
  margin: 15px 0;
}
.contenido_caja_roj span, .contenido_caja_roj div span, .contenido_caja_roj h3, .contenido_caja_roj div h3{
  color: #ea5c0c;
}
.contenido_caja_nar span, .contenido_caja_nar div span, .contenido_caja_nar h3, .contenido_caja_nar div h3{
  color: #ec3e1f;
}
.contenido_caja_roj h3, .contenido_caja_roj div h3, .contenido_caja_nar h3, .contenido_caja_nar div h3{
  font-weight: bold;
  margin-top: 10px;
}
.flecha_baja, .flecha_iz, .flecha_iz_roj{
  display: none;
}
/*FIN FRANJA AHORROS*/
/*VALOR DE LA PRODUCTIVIDAD*/
#valor_productividad h3{
  color: #ec3e1f;
  text-align: center;
  font-weight: bold;
  padding-bottom: 15px;

}
#valor_productividad h4{
  font-weight: bold;
  text-align: center;
}
.valor_titulo_nar{
  background-color: #ea5c0c;
  height: 85px;
}
.valor_titulo_roj{
  background-color: #ec3e1f;
  height: 85px;
}
.valor_titulo_nar div h3, .valor_titulo_roj div h3{
  color: #FFF!important;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  right: 36%;
}
.valor_titulo_nar div p, .valor_titulo_roj div p{
  color: #FFF;
  font-weight: bold;
  padding-left: 126px;
  position: relative;
  top: -60px;
}
.der_nar{
  background-color: #f7f7f8;
  height: 85px;
}
.der_nar h5{
  color: #ea5c0c;
  font-weight: bold;
  margin-left: 10px;
}
.der_roj h5{
  color: #ec3e1f;
  font-weight: bold;
  margin-left: 10px;
}
.der_nar p, .der_roj p{
  color: #383838;
  margin-left: 10px;
}
/*FIN VALOR DE LA PRODUCTIVIDAD*/
/*DESCARGAR*/
.btn_descarga{
  margin-top: 30px;
  border: 1px solid #ec3e1f;
  color: #383838;
  padding: 5px;
  text-align: center;
}
.logo_pdf{
  margin-top: 20px;
  margin-left: 45px;
}
/*FIN DESCARGAR*/
/*NUESTROS ALIADOS*/
#nuestros_aliados{
  background-color: #f7f7f8;
  margin-bottom: -10px;
} 
#nuestros_aliados h3{
  color: #7eb900;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
#nuestros_aliados h4{
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
#aliados{
  text-align: center;
  height: 180px;
}
#aliados_desk{
  display: none;
}
.color_ind li{
  background-color: #505050!important;
}
/*FIN NUESTROS ALIADOS*/
/*SUMARTE A LA INICIATIVA*/
#sumarte_iniciativa{
  background-color: #7eb900;
}
.img_sumarte{
  margin-top: 30px;
}
.querer_sumarte{
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}
.querer_sumarte p{
  color: #FFF;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
a .btn_sumarte{
  background-color: #7eb900;
  color: #fff100;
  border: 1px solid #fff100;  
  width: 180px;
  margin: 40px auto;
  background-image: url(../images/flechas/flecha_amarilla.png);
  background-repeat: no-repeat;
  background-position: 80%;
  padding: 5px 0 0 13px;
}
a:hover .btn_sumarte{
  background-color: #fff100;
  color: #7eb900;
  background-image: url(../images/flechas/flecha_verde.png);
  background-repeat: no-repeat;
  background-position: 80%;
}
/*FIN SUMARTE A LA INICIATIVA*/
/*FOOTER PAGINA*/
.footer_ro div h5{
  color: #ec3e1f;
}
.footer_az div h5{
  color: #2c82dd;
}
.footer_az div ul a, .footer_ro div ul a{
  color: #383838;
}
/*FIN FOOTER PAGINA*/
/*FOOTER*/
footer{
  background-color: #f3f2f2;
  padding: 15px 0px;
  margin-bottom: -25px;
}
#links-footer{
  margin-top: 25px;
}
#links-footer > a > li{
  display: block;
  list-style: none;
  margin-right: 10px;
  color: #505050;
  font-size: 13px;
  text-align: right;
}
.logo{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
/*FIN FOOTER */

/*QUERYS*/
@media (min-width: 375px) { 
  /*FILA CAJAS 1*/
  .top_caja{
    left: 33%;
  }
  /*FILA CAJAS 1*/
  /*DESCARGAR*/
  .logo_pdf{
    margin-top: 20px;
    margin-left: 73px;
  }
  /*FIN DESCARGAR*/
}
@media (min-width: 425px) {
  /*FILA CAJAS 1*/
  .top_caja{
    left: 35%;
  }
  /*FILA CAJAS 1*/
  /*VALOR DE LA PRODUCTIVIDAD*/
  .valor_titulo_nar div p, .valor_titulo_roj div p{
    top: -52px;
  }
  /*FIN VALOR DE LA PRODUCTIVIDAD*/
  /*DESCARGAR*/
  .logo_pdf{
    margin-top: 20px;
    margin-left: 94px;
  }
  /*FIN DESCARGAR*/
}

@media(min-width:768px) {
  /*MENU - BOTON*/
  .bot_logo{
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 40px;
  }
  .logo_blanco, .logo_gris_des{
    display: block;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    left: 0;
  }
  .logo_gris{
    display: none;
  }
  .menu{
    padding-top: 50px;
    background-color: #FFF;
    width: 290px;
    z-index: 2;
    position: absolute;
    top: 25px;
    left: 100px;
  }
  .menu ul li:first-child, .menu ul li:last-child{
    border-bottom: 0;
  }
  /*FIN MENU - BOTON*/
  /*HEADER*/
  .banner1{
    background-image: url(../images/banner_1.jpg);
    min-height: 535px;
  }
  .banner2{
    background-image: url(../images/banner_2.jpg);
    min-height: 535px;
  }
  .banner3{
    background-image: url(../images/banner_3.jpg);
    min-height: 535px;
  }
  .banner1 .texto, .banner2 .texto, .banner3 .texto{
    margin-top: 140px;
  }
  .banner1 .texto h3, .banner2 .texto h3, .banner3 .texto h3{
    font-size: 26px;
    line-height: 35px;
  }
  /*FIN HEADER*/
  /*SECCION AHORRAR - VERDE*/
  #ahorrar{
    background-image: url(../images/seccion2_tab.jpg);
  }
  #ahorrar div h2{
    font-size: 26px;
  }
  /*FIN SECCION AHORRAR - VERDE*/
  /*EMPRESAS y TRABAJADORES*/
  .formato_caja_empresa, .formato_caja_trabajadores {
    margin-left: 30px;
    width: 45%;
  }
  /*FIN EMPRESAS y TRABAJADORES*/
  /*AHORROS POTENCIALES*/
  .valores_texto{
    margin: 20px 0;
  }
  /*FIN AHORROS POTENCIALES*/
  /*FRANJA AHORROS*/
  .contenido_caja_roj, .contenido_caja_nar{
    min-height: 127px;
  }
  /*FIN FRANJA AHORROS*/
  /*VALOR DE LA PRODUCTIVIDAD*/
  .valor_titulo_nar div p, .valor_titulo_roj div p{
    top: -42px;
  }
  .valor_titulo_nar div h3, .valor_titulo_roj div h3{
    right: 42%;
  }
  /*FIN VALOR DE LA PRODUCTIVIDAD*/
  /*DESCARGAR*/
  .btn_descarga {
    margin-top: 74px;
  }
  .logo_pdf{
    margin-top: 20px;
    margin-left: 94px;
  }
  /*FIN DESCARGAR*/
  /*ALIADOS*/
  #aliados{
    display: none;
  }
  #aliados_desk{
    display: block;
    height: 200px;
  }
  /*FIN ALIADOS*/
  /*FOOTER*/
  #links-footer > a > li{
    display: inline-block;
  }
  .logo {
    margin-top: -40px;
  }
  /*FIN FOOTER*/


}

@media (min-width: 1024px) {
  /*MENU - BOTON*/
  .bot_logo{
    left: 50px;
  }
  /*FIN MENU - BOTON*/
  /*FILA CAJAS 1*/
  .top_caja{
    left: 28%;
  }
  /*FILA CAJAS 1*/
  /*SECCION AHORRAR - VERDE*/
  #ahorrar{
    background-image: url(../images/seccion2_desk.jpg);
  }
  /*FIN SECCION AHORRAR - VERDE*/
  /*EMPRESAS y TRABAJADORES*/
  .formato_caja_empresa, .formato_caja_trabajadores {
    margin-left: 17px;
    width: 23%;
  }
  /*FIN EMPRESAS y TRABAJADORES*/
  /*AHORROS POTENCIALES*/
  .valores{
    min-height: 140px;
  }
  .valores p{
    margin-top: 30px;
  }
  /*FIN AHORROS POTENCIALES*/
  /*FRANJA AHORROS*/
  .contenido_caja_roj, .contenido_caja_nar{
    min-height: 167px;
  }
  .flecha_baja{
    display: block;
    position: relative;
    top: 9px;
    left: 47.7%;
    z-index: 4;
  }
  /*FIN FRANJA AHORROS*/
  /*VALOR DE LA PRODUCTIVIDAD*/
  .der_nar p, .der_nar h5, .der_roj p, .der_roj h5{
    margin-left: 0px;
  }
  .flecha_iz{
    display: block;
    position: relative;
    z-index: 4;
    left: 101.2%;
    top: -109px;
  }
  .flecha_iz_roj{
    display: block;
    position: relative;
    z-index: 4;
    left: 101.2%;
    top: -90px!important;
  }
  .valor_titulo_nar div p, .valor_titulo_roj div p {
    top: -65px;
  }
  /*FIN VALOR DE LA PRODUCTIVIDAD*/
}

@media (min-width: 1366px) {
  /*MENU - BOTON*/
  .bot_logo{
    left: 85px;
  }
  .menu{
    left: 145px;
  }
  /*FIN MENU - BOTON*/
  /*FILA CAJAS 1*/
  .top_caja{
    left: 30%;
  }
  /*FILA CAJAS 1*/
  /*SECCION AHORRAR - VERDE*/
  #ahorrar{
    background-image: url(../images/seccion2.jpg);
  }
  /*FIN SECCION AHORRAR - VERDE*/
  /*EMPRESAS y TRABAJADORES*/
  .formato_caja_empresa, .formato_caja_trabajadores {
    margin-left: 30px;
    width: 20%;
  }
  /*FIN EMPRESAS y TRABAJADORES*/
  /*AHORROS POTENCIALES*/
  .valores{
    min-height: 100px;
  }
  .valores p{
    margin-top: 17px;
  }
  /*FIN AHORROS POTENCIALES*/
  /*FRANJA AHORROS*/
  .titulo_ahorro p, .titulo_ahorro2 p{
    float: left;
    margin-top: 30px;
    margin-left: 14px;
  }
  .titulo_ahorro img, .titulo_ahorro2 img{
    float: right;
    margin-left: 15px;
  }
  .contenido_caja_roj, .contenido_caja_nar{
    min-height: 147px;
  }
  .flecha_baja{
    left: 48.5%;
  }
  /*FIN FRANJA AHORROS*/
  /*VALOR DE LA PRODUCTIVIDAD*/
  .flecha_iz{
    left: 101%;
    top: -90px;
  }
  .flecha_iz_roj{
    left: 101%;
    top: -75px;
  }
  /*FIN VALOR DE LA PRODUCTIVIDAD*/
}



